.azul {color: #77c9d4;}
.verdeClaro {color: #57bc90;}
.verdeOscuro {color: #015249;}
.gris {color: #A5A5AF;}

.bg-azul-main {
    background-color: #77c9d4 !important;
}
.bg-verdeClaro-main {
    background-color: #57bc90 !important;
}
.bg-verdeOscuro-main {
    background-color: #015249 !important;
}
.bg-gris-main {
    background-color: #A5A5AF !important;
}

.main-footer {
	position: absolute;
	bottom:0;
	width: 100%
}

@media (max-width: 900px) {
   /*  .img_main {
      display: none;
    } */
    .main-container {
      display: flex;
      flex-wrap: wrap;  
    }
  }

 